# 노드 모듈 #
node_modules/

# 빌드 출력 #
out/
dist/
*.vsix

# 프로젝트 설정 #
.settings/
.history/

# 디버깅 파일 #
*.log*

# OS 생성 파일 #
.DS_Store
Thumbs.db

# Yarn #
yarn-error.log
.pnp/
.pnp.js

# 로컬 env 파일 #
.env.local
.env.development.local
.env.test.local
.env.production.local

# 타입스크립트 빌드 출력 #
*.tsbuildinfo

# npm 디버그 로그 #
npm-debug.log*
